<script>
  function deleteProduct(code) {
    fetch(`http://localhost:8080/products/${code}`, {
      method: "delete"
    })
    window.location.href = 'http://localhost:8080/products'
  }
</script>
<div>
    Lista de Productos
</div>
{{#if products}}
    {{#each products}}
        <div class="product">
            {{this.description}}
        {{this.price}}
        {{this.code}}
        {{this.stockk}}</li>
        <img src="{{this.thumbnails}}" alt="" width="100">
        <button onclick="deleteProduct('{{this.code}}')">Delete {{this.code}}</button>
        </div>
    {{/each}}
{{else}}
    <p>No hay productos disponibles.</p>
{{/if}}

{{#if hasPrevPage}}
    <a href="{{prevLink}}">Página anterior</a>
{{/if}}
{{#if hasNextPage}}
    <a href="{{nextLink}}">Página siguiente</a>
{{/if}}
</div>
