<div>
    <h2>{{product.title}}</h2>
        {{product.description}}
        {{product.price}}
        {{product.code}}
        {{product.stockk}}</li>
        <img src="{{product.thumbnails}}" alt="" width="100">
    
</div>